.elementor-2244 .elementor-element.elementor-element-0dcf897 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-0dcf897 .elementor-heading-title {
    color: #286046;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
}

.elementor-2244 .elementor-element.elementor-element-8014ff3 {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}

.elementor-2244 .elementor-element.elementor-element-8014ff3>.elementor-widget-container {
    margin: 0px 0px -6px 0px;
}

.elementor-2244 .elementor-element.elementor-element-56dfcb6 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-2244 .elementor-element.elementor-element-56dfcb6 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-2244 .elementor-element.elementor-element-56dfcb6 .elementor-button {
    font-family: "Poppins", Sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #A1C655;
}

.elementor-2244 .elementor-element.elementor-element-56dfcb6>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2244 .elementor-element.elementor-element-a57bcae .elementor-spacer-inner {
    height: 50px;
}

.elementor-2244 .elementor-element.elementor-element-d6bf5f6 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-d6bf5f6 .elementor-heading-title {
    color: #286046;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
}

.elementor-2244 .elementor-element.elementor-element-d76422f {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-d76422f .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-c95ecd7 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-c95ecd7 .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-f8162b1 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-f8162b1 .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-84967c4 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-84967c4 .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-2d490de {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-2d490de .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-b847c38 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-b847c38 .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-9e2fbc6 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-9e2fbc6 .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-e1a3fe9 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-e1a3fe9 .elementor-heading-title {
    color: #285F42;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-fc8a702 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-2244 .elementor-element.elementor-element-fc8a702 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-2244 .elementor-element.elementor-element-fc8a702 .elementor-button {
    font-family: "Poppins", Sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #A1C655;
}

.elementor-2244 .elementor-element.elementor-element-fc8a702>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2244 .elementor-element.elementor-element-9fc4edc .elementor-spacer-inner {
    height: 50px;
}

.elementor-2244 .elementor-element.elementor-element-1288db2 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-1288db2 .elementor-heading-title {
    color: #286046;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
}

.elementor-2244 .elementor-element.elementor-element-b4fbe25 {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    line-height: 0.6em;
}

.elementor-2244 .elementor-element.elementor-element-b4fbe25>.elementor-widget-container {
    margin: 0px 0px -6px 0px;
}

.elementor-2244 .elementor-element.elementor-element-c520017 .elementor-spacer-inner {
    height: 10px;
}

.elementor-2244 .elementor-element.elementor-element-949f75c .elementor-spacer-inner {
    height: 5px;
}

.elementor-2244 .elementor-element.elementor-element-e29bba9 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-2244 .elementor-element.elementor-element-e29bba9 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-2244 .elementor-element.elementor-element-e29bba9 .elementor-button {
    font-family: "Poppins", Sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #A1C655;
}

.elementor-2244 .elementor-element.elementor-element-e29bba9>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2244 .elementor-element.elementor-element-0b32ae0 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-0b32ae0 .elementor-heading-title {
    color: #286046;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
}

.elementor-2244 .elementor-element.elementor-element-7cbc045 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-2244 .elementor-element.elementor-element-7cbc045 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-2244 .elementor-element.elementor-element-7cbc045 .elementor-button {
    font-family: "Poppins", Sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #A1C655;
}

.elementor-2244 .elementor-element.elementor-element-7cbc045>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2244 .elementor-element.elementor-element-962f0ee .elementor-spacer-inner {
    height: 50px;
}

.elementor-2244 .elementor-element.elementor-element-2268eb3 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-2268eb3 .elementor-heading-title {
    color: #286046;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
}

.elementor-2244 .elementor-element.elementor-element-5ea8e36 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-5ea8e36 .elementor-heading-title {
    color: #666666;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-8af77a5 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-8af77a5 .elementor-heading-title {
    color: #666666;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-6a5d298 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-6a5d298 .elementor-heading-title {
    color: #666666;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-424c6ae {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-424c6ae .elementor-heading-title {
    color: #666666;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-a373ad1 .elementor-spacer-inner {
    height: 50px;
}

.elementor-2244 .elementor-element.elementor-element-e3146d5 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-e3146d5 .elementor-heading-title {
    color: #286046;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
}

.elementor-2244 .elementor-element.elementor-element-850559c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-850559c.elementor-view-stacked .elementor-icon {
    background-color: #286046;
}

.elementor-2244 .elementor-element.elementor-element-850559c.elementor-view-framed .elementor-icon,
.elementor-2244 .elementor-element.elementor-element-850559c.elementor-view-default .elementor-icon {
    color: #286046;
    border-color: #286046;
}

.elementor-2244 .elementor-element.elementor-element-850559c.elementor-view-framed .elementor-icon,
.elementor-2244 .elementor-element.elementor-element-850559c.elementor-view-default .elementor-icon svg {
    fill: #286046;
}

.elementor-2244 .elementor-element.elementor-element-850559c .elementor-icon i,
.elementor-2244 .elementor-element.elementor-element-850559c .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2244 .elementor-element.elementor-element-c098be9 {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-c098be9 .elementor-heading-title {
    color: #666666;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-4fd14f4 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-4fd14f4.elementor-view-stacked .elementor-icon {
    background-color: #286046;
}

.elementor-2244 .elementor-element.elementor-element-4fd14f4.elementor-view-framed .elementor-icon,
.elementor-2244 .elementor-element.elementor-element-4fd14f4.elementor-view-default .elementor-icon {
    color: #286046;
    border-color: #286046;
}

.elementor-2244 .elementor-element.elementor-element-4fd14f4.elementor-view-framed .elementor-icon,
.elementor-2244 .elementor-element.elementor-element-4fd14f4.elementor-view-default .elementor-icon svg {
    fill: #286046;
}

.elementor-2244 .elementor-element.elementor-element-4fd14f4 .elementor-icon i,
.elementor-2244 .elementor-element.elementor-element-4fd14f4 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2244 .elementor-element.elementor-element-479192c {
    text-align: center;
}

.elementor-2244 .elementor-element.elementor-element-479192c .elementor-heading-title {
    color: #666666;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-2244 .elementor-element.elementor-element-dd0dcc6 .elementor-spacer-inner {
    height: 50px;
}

@media(max-width:767px) {
    .elementor-2244 .elementor-element.elementor-element-0dcf897 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-2244 .elementor-element.elementor-element-8014ff3 {
        line-height: 1em;
    }
    .elementor-2244 .elementor-element.elementor-element-d6bf5f6 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-2244 .elementor-element.elementor-element-5f4e59b {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-ac336d6 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-2442c16 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-a4e2ce7 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-8da4878 {
        width: 48%;
    }
    .elementor-2244 .elementor-element.elementor-element-2374c37 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-9c4aeb3 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-e4ffb9f {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-9fc4edc .elementor-spacer-inner {
        height: 5px;
    }
    .elementor-2244 .elementor-element.elementor-element-1288db2 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-2244 .elementor-element.elementor-element-b4fbe25 {
        line-height: 1em;
    }
    .elementor-2244 .elementor-element.elementor-element-013c7ef {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-d77ca3d {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-75c06ad {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-931862f {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-c520017 .elementor-spacer-inner {
        height: 0px;
    }
    .elementor-2244 .elementor-element.elementor-element-88234df {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-2557f5b {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-091ed5f {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-dbab321 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-0b32ae0 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-2244 .elementor-element.elementor-element-962f0ee .elementor-spacer-inner {
        height: 5px;
    }
    .elementor-2244 .elementor-element.elementor-element-2268eb3 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-2244 .elementor-element.elementor-element-d92d208 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-5ea8e36 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-2244 .elementor-element.elementor-element-415b83b {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-8af77a5 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-2244 .elementor-element.elementor-element-03486a6 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-6a5d298 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-2244 .elementor-element.elementor-element-3792a4d {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-424c6ae .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-2244 .elementor-element.elementor-element-e3146d5 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-2244 .elementor-element.elementor-element-30d5dba {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-850559c .elementor-icon {
        font-size: 40px;
    }
    .elementor-2244 .elementor-element.elementor-element-c098be9 .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-2244 .elementor-element.elementor-element-10ff586 {
        width: 50%;
    }
    .elementor-2244 .elementor-element.elementor-element-4fd14f4 .elementor-icon {
        font-size: 40px;
    }
    .elementor-2244 .elementor-element.elementor-element-479192c .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-2244 .elementor-element.elementor-element-dd0dcc6 .elementor-spacer-inner {
        height: 10px;
    }
}

/* Start custom CSS for shortcode, class: .elementor-element-2a9df53 */

.siparis-formu .wpcf7-submit {
    background-color: #286046 !important;
    text-align: center !important;
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
}

/* End custom CSS */