body {
    background-color: #f2f2f2;
    color: #000;
    font-size: 17px;
}

html {
    scroll-behavior: smooth;
}

.modal-video .modal-body .close {
    background-color: #000;
}

.scroll-to-top {
    background-color: rgba(0, 0, 0, 0.87);
}

.wrapper {
    background-color: #fff;
}

#header .header-call-out {
    position: absolute;
    right: 0;
    bottom: -60px;
    z-index: 15;
}

@media only screen and (max-width: 999px) {
    #header .header-call-out {
        bottom: -6vw;
        width: 34vw;
    }
}

.index-01 {
    margin-top: -1px;
    background-color: transparent;
}

@media only screen and (max-width: 999px) {
    .index-01 {
        margin-top: -1.1vw;
    }
}

.product-image.selected {
    display: none;
}

.product.selected .product-image {
    display: none;
}

.product.selected .product-image.selected {
    display: block;
}

.product [type=radio] {
    position: absolute;
    opacity: 0;
}

.button-submit-container {
    padding-top: 50px;
}

@media only screen and (max-width: 999px) {
    .button-submit-container {
        padding-top: 5vw;
    }
}

.success {
    background-color: #000;
}

.success .message {
    color: #fff;
}

@charset "utf-8";

.counter {
    float: left;
    width: 100%;
}

.kalanurun {
    float: left;
    width: 40%;
}

#quata {
    float: left;
    width: 50%;
    font-size: 52px;
    color: #dc7249;
    margin: 0;
    text-align: center;
    line-height: 62px;
    height: 74px;
    margin-left: 119px;
    border: 4px solid #010101;
}

#quata1 {
    float: left;
    width: 50%;
    font-size: 52px;
    background-color: #fff;
    color: #c5c5c5;
    margin: 0;
    font-weight: 900;
    text-align: center;
    line-height: 62px;
    height: 74px;
    margin-left: 119px;
    border: 4px solid #7fbed5;
}

#quata2 {
    float: left;
    width: 70%;
    font-size: 40px;
    background-color: #380c48;
    color: #c5c5c5;
    font-family: ProximaBold;
    margin: 0;
    font-weight: 900;
    text-align: center;
    line-height: 62px;
    margin-left: 15%;
    border-radius: 10px;
}

.sayac {
    float: left;
    width: 60%;
}

.sayac span {
    width: 100%;
    font-weight: 900;
    font-size: 15px;
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 20px;
    margin-bottom: 10px;
}

.defaultCountdown {
    float: left;
    width: 100%;
}

#timer {
    float: left;
    width: 100%;
}

#vals {
    float: left;
    width: 83%;
    color: #FFF;
    padding: 0;
    background-color: #380c48;
    margin: 0;
    text-align: left;
    line-height: 62px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 18px;
    border-radius: 10px;
    margin-left: 12%;
}

#h {
    float: left;
    margin-right: 0px;
}

#m {
    float: left;
    margin-right: 0px;
    margin-left: 5px;
}

#s {
    float: left;
    margin-left: 5px;
}

#labels {
    float: left;
    width: 100%;
    padding-left: 103px;
    padding-top: 10px;
}

#hl {
    font-size: 15px;
    margin-right: 80px;
    color: #fff;
    float: left;
}

#ml {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    float: left;
}

#sl {
    font-size: 15px;
    margin-left: 69px;
    color: #fff;
    float: left;
}

.kalanurun span {
    font-size: 15px;
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 20px;
    margin-bottom: 10px;
}

#quata {
    float: left;
    background-color: #fff;
    width: 25%;
    font-size: 2px;
    color: #c5c5c5;
    margin: 0;
    font-weight: 900;
    text-align: center;
    line-height: 62px;
    height: 74px;
    margin-left: 37%;
    border: 4px solid #7fbed5;
}

.counter {
    float: left;
    width: 100%;
}

.kalanurun {
    float: left;
    width: 40%;
}

#quata {
    float: left;
    width: 50%;
    font-size: 22px;
    color: #dc7249;
    margin: 0;
    text-align: center;
    line-height: 62px;
    height: 74px;
    margin-left: 119px;
    border: 4px solid #010101;
}

#quata1 {
    float: left;
    width: 50%;
    font-size: 22px;
    background-color: #fff;
    color: #c5c5c5;
    margin: 0;
    font-weight: 900;
    text-align: center;
    line-height: 62px;
    height: 74px;
    margin-left: 119px;
    border: 4px solid #7fbed5;
}

#quata2 {
    width: 87%;
    font-size: 8vw;
    line-height: 12vw;
    margin-left: 6%;
    border-radius: 10px;
}

.sayac {
    float: left;
    width: 60%;
}

.sayac span {
    font-size: 3vw;
    line-height: 4vw;
    margin-bottom: 2%;
}

#vals {
    width: 91%;
    font-size: 8vw;
    line-height: 12vw;
    padding-left: 4%;
    margin-left: 7%;
    text-align: center;
}

#h {
    width: 35%;
}

#m {
    margin-left: 0;
    width: 35%;
}

#s {
    margin-left: 0;
    width: 30%;
}

#labels {
    float: left;
    width: 100%;
    padding-left: 103px;
    padding-top: 10px;
}

#hl {
    font-size: 15px;
    margin-right: 80px;
    color: #fff;
    float: left;
}

#ml {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    float: left;
}

#sl {
    font-size: 15px;
    margin-left: 69px;
    color: #fff;
    float: left;
}

.product-counter_2 {
    position: absolute;
    line-height: 1;
    font-weight: 800;
    top: 32%;
    font-size: 70px;
    right: 8%;
    color: #000;
    border-radius: 5px;
}

.product-counter_3 {
    position: absolute;
    line-height: 1;
    font-weight: 800;
    top: 84%;
    font-size: 70px;
    left: 10%;
    color: #fff;
    border-radius: 5px;
}

.product-counter_4 {
    position: absolute;
    line-height: 1;
    font-weight: 800;
    top: 63%;
    font-size: 52px;
    right: 49%;
    color: #fff;
    border-radius: 5px;
}

.clock_2 {
    position: absolute;
    right: 36%;
    top: 28%;
    line-height: 1;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.clock_2 .minute {
    margin-left: 2.5vw;
}

.clock_2 .second {
    margin-left: 2.5vw;
}

.clock_3 {
    position: absolute;
    left: 34.2%;
    top: 85%;
    line-height: 1;
    font-size: 56px;
    font-weight: 800;
    color: #fff;
}

.clock_3 .minute {
    margin-left: 15%;
}

.clock_3 .second {
    margin-left: 15%;
}

.clock_4 {
    position: absolute;
    right: 7.2%;
    top: 41%;
    line-height: 1;
    font-size: 70px;
    font-weight: 800;
    color: #fff;
}

.clock_4 .minute {
    margin-left: 4vw;
}

.clock_4 .second {
    margin-left: 4vw;
}

@media only screen and (max-width: 999px) {
    .clock_2 {
        font-size: 5.5vw !important;
        top: 6vw !important;
        color: #fff;
        right: 36%;
    }

    .clock_2 .minute {
        margin-left: 6vw !important;
    }

    .clock_2 .second {
        margin-left: 6vw !important;
    }

    .clock_3 {
        font-size: 6.5vw !important;
        top: 76.7vw !important;
        color: #fff;
        left: 34.2% !important;
    }

    .clock_3 .minute {
        margin-left: 5vw !important;
    }

    .clock_3 .second {
        margin-left: 5vw !important;
    }

    .clock_4 {
        font-size: 10.5vw !important;
        top: 29vw !important;
        color: #fff;
    }

    .clock_4 .minute {
        margin-left: 6vw !important;
    }

    .clock_4 .second {
        margin-left: 4vw !important;
    }

    .product-counter_2 {
        font-size: 9vw !important;
        top: 15vw;
        color: #000;
    }

    .product-counter_3 {
        font-size: 9vw !important;
        top: 76vw;
        color: #fff;
    }

    .product-counter_4 {
        font-size: 6vw !important;
        top: 60vw;
        color: #fff;
    }
}

/* CSS.CSS */
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Dosis', sans-serif;
    background-color: #7f7f7f;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select,
textarea,
input[type="text"],
button[type="button"] {
    -moz-appearance: none;
    box-shadow: none !important;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}

[type="submit"] {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    -moz-appearance: none;
    box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    padding: 0 !important;
}

@media (min-width: 768px) {
    .container {
        width: 768px !important;
    }

    .rightBar {
        width: 145px !important;
        left: 67px;
        height: 490px !important;
    }
}

.container .row {
    margin: 0 !important;
}

[class*="col-"] {
    padding: 0 !important;
}

[class*="col-"] img {
    display: block;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.form_wrap {
    padding: 30px 0;
}

.form_wrap>img.back {
    position: absolute;
    z-index: -5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.grid1 {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 25px calc(100% - 25px);
    align-items: center;
}

.grid1 .self {}

.grid1 .self.number {
    text-align: center;
    font-size: 2.8em;
    filter: blur(2.5px);
    color: #d6dee1;
}

.grid1 .self.form_item {
    padding: 10px;
}

.grid1 .self.form_item input,
.grid1 .self.form_item textarea,
.grid1 .self.form_item select {
    background: url(img/x/form_item_back.jpg?ccc) repeat;
    background-size: auto 100%;
    padding: 0 10px;
    display: block;
    width: 100%;
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0 #ddd !important;
}

.grid1 .self.form_item input {
    height: 50px;
}

.grid1 .self.form_item select {
    height: 50px;
    color: #757575;
}

.grid1 .self.form_item textarea {
    height: 170px;
    padding: 10px 10px;
}

.form1_submit_button {
    background: none;
    border: 0 !important;
    margin-bottom: -3px !important;
}

label {
    margin: 0;
    outline: none
}

.color {
    display: none;
}

.clock_3 {
    top: 84% !important;
    color: #000;
    left: 48% !important;
}

.product-counter_3 {
    top: 84% !important;
    left: 27%;
}

im.calc_price,
im.price,
span.deneme2 {
    direction: rtl;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    display: block;
}

span.deneme2 {
    color: red;
    font-size: 17px;
}

.block-ui-container {
    border: 5px solid #2f2f2f !important;
    padding: 10px;
    font-family: arial, tahoma, verdana;
    font-size: 15px;
}

.block-ui-message {
    line-height: 23px;
}

.block-ui-button {
    border: 0;
    background-color: #2f2f2f;
    padding: 7px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
